body { 
  padding-top: 50px; 
  height: 100%;
  color: #fff; /* text color */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}


/* Making the nav bar totally wicked awesome */
.navbar-default .navbar-nav>li>a {
  color: #0093d0;
  font-size: 13pt;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #45e6dd;
  font-size: 13pt;
}

.navbar-default .navbar-brand {
  color: #0093d0;
}

.navbar {
  background: #141c2c;
  border: none;
}

.twitter {
  background: url('/images/Twitter.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30%;
  
}

.twitter:hover {
  background: url('/images/Twitterhover.png');
  background-repeat: no-repeat;
  background-position: center;
  
}

.facebook {
  background: url('/images/Facebook.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30%;
  display: block;
}

.facebook:hover {
  background: url('/images/Facebookhover.png');
  background-repeat: no-repeat;
  background-position: center;
  
}


.main {
  margin-top:0%;
}

/* homepage */
.webuildstartups {
  background: url('/images/Background_webuildstartups.png');
  height:574px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right:0px;
  margin-left: 0px;
  
}

.webuildstartups h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  width: 100px;
}

.buildbuffer {
  height:200px;
}

.startupincubator {
  background: url('/images/Background_startupincubator.png');
  height:755px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right:0px;
  margin-left: 0px;
  
}

.weworkwith {
  padding-top:13%;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wearestartup {
  margin-left:20%;
  margin-right:20%;
  padding-top:20%;
  color: #0093d0;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  width:200px;
}

.startup {
  margin-left:20%;
  margin-right:20%;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  width:200px;
}

.ethostext h2 {
  color: #6c6d70;
  font-size: 40px;
  font-weight: 200;
  width:450px;
  padding-top:50px;
  padding-bottom: 50px;
}


.ethos {
  background: url('/images/Background_ethos.png');
  height:742px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right:0px;
  margin-left: 0px;
  
}


.ethosheadleft {
  color: #17b5ff;
  text-align: right;
  font-size: 30px;
  font-weight: 200;
}

.ethosparaleft {
  color: #6d6e70;
  text-align: right;
  font-size: 24px;
  font-weight: 200;
}

.ethosheadright {
  color: #17b5ff;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}

.ethospararight {
  color: #6d6e70;
  text-align: left;
  font-size: 24px;
  font-weight: 200;
}

.philo {
  background: url('/images/Background_philo.png');
  height: 843px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right:0px;
  margin-left: 0px;
  
}

.philohead {
  color: #17b5ff;
  text-align: left;
  font-size: 30px;
  font-weight: 100;
  padding-top: 40%;
  margin-left: 15%;
}

.philopara {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 100;
  margin-left: 15%;
}

/* services page */

.background_coretop {
  /*background: url('/images/Background_coretop.png');*/
  height: 100px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1f2d46;
  margin-right:0px;
  margin-left: 0px;
  
}

.background_core {
  background: url('/images/Background_core.png');
  height: 747px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right:0px;
  margin-left: 0px;
  
}

.core h1 {
  color: #a7a7a7;
  font-size: 40px;
  padding-top: 10%;
  font-weight: 200;
  text-align: center;
}

.core_graphic {
  background: url('/images/core_graphic.png');
  height: 88px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right:0px;
  margin-left: 0px;
  padding-top: 31%;
  
}

.core_list {
  padding-top: 0%;
  padding-left: 13%;
  width: 100%;
}

.core_list h2 {
  color: #fff;
  font-size: 23px;
  font-weight: 200;
}

.dot {
  width: 5px;
  height: 5px;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  display: none;
}

.identify_txt h2 {
  padding-top: 10%;
  color: #6c6d70;
  font-size: 40px;
  font-weight: 200;
  text-align: center;

}

.identify_txt {
  background: url('/images/identify_graphic.png');
  height: 567px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right:0px;
  margin-left: 0px;
  
}

.identify_para {
  padding-top: 15%;
  padding-left: 19%;
  padding-right: 19%;
}

.identify_para h2 {
  color: #46b1e4;
  font-size: 23px;
  padding: 0px;
}

/* attempts at the footer. needs to be fixed still */
.footer {
  padding-top: 5px;
} 

.footertext {
  color: #6c6d70;
  font-size: 12px;
}

.arrow {
  background: url('/images/Arrow.png');
  height:8px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: left;
  padding-right:15%;
  margin-left: 0px;
  padding-top: 5px;
  
}

.footerlink {
  color: #0093d0;
  font-size: 13pt;
}

.footerlink:hover {
  color: #45e6dd;
  font-size: 13pt;
  margin-right: 10px;
}
