body { 
  padding-top: 50px; 
  height: 100%;
}

.main {
}

/* Making the nav bar totally wicked awesome */
.navbar-default .navbar-nav>li>a {
  color: #0093d0;
}
.navbar-default .navbar-brand {
  color: #0093d0;
}

footer {
  bottom:0;
}
