.contact-container {
  margin-top: -20px;

  h1,
  h2,
  h4 {
    text-align: center;
    font-weight: 300;
  }

  h1,
  h4 {
    color: #585858;
  }

  h1 {
    font-size: 19pt;
  }

  h2 {
    font-size: 19pt;
    color: $light-blue;
    margin-top: 0;
  }

  h4 {
    font-size: 15pt;
  }

  img {
    width: 100%;
  }

  @include breakpoint($ipad-portrait) {
    margin-top: 100px;

    h1,
    h2 {
      font-size: 26pt;
    }

    h4 {
      font-size: 22pt;
    }
  }

  @include breakpoint($ipad-landscape) {
    margin-top: 25px;

    h1,
    h2 {
      font-size: 30pt;
    }

    h2 {
      margin-bottom: -70px;
    }

    h4 {
      font-size: 26pt;
    }
  }
}

// Make the footer stick to the bottom only on
// the contact page
// Not sure if witty or sloppy
@mixin fixed-footer($media) {
  @include breakpoint($media) {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.contact-container + div {
  @include fixed-footer($iphone-portrait);
  @include fixed-footer($ipad-portrait);
}
