.footer {
  background: $codelitt-dark;

  p {
    color: #626365;
  }

  @include breakpoint($ipad-portrait) {
    width: auto;
  }

  @include breakpoint($ipad-landscape) {
    width: auto;
  }
}

.footer-info {
  display: none;

  @include breakpoint($ipad-portrait) {
    display: block;

    p {
      margin: 60px 15px 0;
      float: left;
    }
  }

  @include breakpoint($ipad-landscape) {
    display: block;

    p {
      margin: 60px 15px 0;
      float: left;
    }
  }
}

.footer-logo {
  img {
    display: block;
    margin: 20px auto;
  }

  @include breakpoint($ipad-portrait) {
    margin: -55px auto;
  }

  @include breakpoint($ipad-landscape) {
    margin: -55px auto;
  }
}

.footer-back {
  display: none;

  span {
    color: $light-blue;
  }

  @include breakpoint($ipad-portrait) {
    display: block;
    margin: 50px 0 55px 550px;
  }

  @include breakpoint($ipad-landscape) {
    display: block;
    margin: 50px 0 55px 830px;
  }

  span {
    font-size: 14pt;
  }
}
