.codelitt-head {
  background: $codelitt-dark;
  border: 0;
  border-bottom: 2px;
  border-color: #4f5052;
  border-radius: 0;
  border-style: solid;

  @include breakpoint($ipad-landscape) {
    min-height: 90px;
  }

}

.codelitt-logo img {
  margin: -10px;
  width: 40px;

  @include breakpoint($ipad-landscape) {
    margin: auto;
    width: auto;
  }
}

#nav-right {
  li {
    margin-top: 5%;
  }

  a {
    color: #14a6fa;
  }
}
