body {
  height: 100%;
  width: 100%;
}

.codelitt-big {
  margin: -20px 0 0;
  padding: 0;
  width: 100%;
  height: 300px;

  background: $codelitt-dark;

  @include breakpoint($iphone-landscape) {
    height: 267px;
  }

  @include breakpoint($ipad-portrait) {
    height: 500px;
  }
  img {
    height: 100%;
    width: 100%;
  }

  @include breakpoint($ipad-landscape) {
    height: 600px;
  }
}

.we-build {
  color: #fff;
  margin: -58% 0 0 30%;
  width: 15%;
  font-size: 17pt;
  font-weight: lighter;

  @include breakpoint($iphone-landscape) {
    margin: -33% 0 0 30%;
    font-size: 24pt;
  }

  @include breakpoint($iphone4-landscape) {
    margin: -39% 0 0 30%;
  }

  @include breakpoint($ipad-portrait) {
    width: 5%;
    font-size: 35pt;
    margin: -42% 0 0 30%;
  }

  @include breakpoint($ipad-landscape) {
    font-size: 40pt;
    margin: -38% 0 0 30%;
  }
}

.cubes-big {
  background: $codelitt-light;
  height: 100%;
  width: 100%;
}

.cubes {
  height: 100%;
  width: 80%;
  margin: -50px 0 50px 45px;


  img {
    width: 100%;
  }


  @include breakpoint($iphone-landscape) {
    width: 60%;
    margin: -71px 0 50px 115px;
  }

  @include breakpoint($iphone4-landscape) {
    margin: -59px 0 50px 115px;
  }

  @include breakpoint($ipad-portrait) {
    margin: -97px 0 50px 164px;
  }

  @include breakpoint($ipad-landscape) {
    width: 80%;
    margin: -139px 0 0 180px;

    img {
      width: 80%;
    }
  }
}

.we-work-cubes {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  width: 90%;
  margin: -150px auto 100px;
  font-size: 14pt;

  span {
    color: $light-blue;
  }

  @include breakpoint($ipad-portrait) {
    font-size: 19pt;
    margin: -190px auto 100px;
  }

  @include breakpoint($ipad-landscape) {
    font-size: 25pt;
    margin: -190px auto 100px;
  }
}

.cube {
  margin: 50px 0;
  z-index: 1;

  img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  @include breakpoint($iphone-landscape) {
    img {
      width: 40%;
    }
  }

  @include breakpoint($iphone4-landscape) {
    img {
      width: 50%;
    }
  }

  @include breakpoint($ipad-landscape) {

    img {
      width: 40%;
    }
  }
}


.we-are-innovation {
  margin: -280px auto 93px;
  width: 158px;

  .we-are,
  .innovation {
    font-weight: lighter;
    margin: 0;
    text-align: center;
  }

  @include breakpoint($iphone4-landscape) {
    margin: -293px auto 106px;
  }

  @include breakpoint($ipad-portrait) {
    margin: -363px 273px 131px;

    .we-are,
    .innovation {
      font-size: 25pt;
      width: 189px;
    }
  }

  @include breakpoint($ipad-landscape) {
    width: 300px;
    margin: -450px auto 170px;

    .we-are,
    .innovation {
      font-size: 35pt;
    }
  }
}

.we-are {
  color: $light-blue;
}

.innovation {
  color: #fff;
  font-size: 22pt;
}

.learn {
  color: #626365;
  font-size: 9pt;
  font-weight: 900;
  text-align: center;

  @include breakpoint($ipad-portrait) {
    font-size: 11pt;
    width: 200px;
  }

  @include breakpoint($ipad-landscape) {
    font-size: 11pt;
  }
}

.ethos {
  background: #fff;

  h1 {
    font-size: 16pt;
    text-align: center;
    color: #626365;
  }

  @include breakpoint($ipad-portrait) {
    h1 {
      font-size: 30pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }

  @include breakpoint($ipad-landscape) {
    h1 {
      font-size: 30pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }
}

.ethos-image {

  img {
    display: block;
    height: 550px;
    margin: 0 auto;
  }

  @include breakpoint($iphone-landscape) {
    margin: 0 auto 600px;
    img {
      height: 600px;
    }
  }

  @include breakpoint($ipad-portrait) {
    margin: 0 auto 400px;
    img {
      height: 820px;
    }
  }

  @include breakpoint($ipad-landscape) {
    img {
      height: 820px;
    }
  }
}

.ethos-text {
  width: 42%;

  h2 {
    color: $light-blue;
    font-size: 15pt;
    font-weight: 200;
  }

  p {
    color: #626365;
    font-size: 9pt;
    width: 100%;
  }

  @include breakpoint($iphone-landscape) {
    p {
      font-size: 13pt;
    }
  }

  @include breakpoint($ipad-portrait) {
    h2 {
      font-size: 25pt;
    }
    p {
      font-size: 16pt;
    }
  }

  @include breakpoint($ipad-landscape) {
    h2 {
      font-size: 29pt;
    }
    p {
      font-size: 18pt;
    }
  }

}

.ethos-innovation {
  margin: -550px 0 0;

  @include breakpoint($iphone-landscape) {
    text-align: right;
    margin: -1180px 0 0;
  }

  @include breakpoint($ipad-portrait) {
    margin: -1190px 0 0;
  }

  @include breakpoint($ipad-landscape) {
    margin: -1391px 0 0;
  }
}

.ethos-disruption {
  margin: -25px 0 0 175px;

  @include breakpoint($iphone-landscape) {
    text-align: left;
    margin: -11px 0 0 314px;
  }

  @include breakpoint($iphone4-landscape) {
    margin: -59px 0 0 261px;
  }

  @include breakpoint($ipad-portrait) {
    margin: 0 0 0 421px;
  }

  @include breakpoint($ipad-landscape) {
    margin: 22px 0 0 541px;
  }
}

.ethos-startup {
  margin: -100px 0 0;

  @include breakpoint($iphone-landscape) {
    text-align: right;
    margin: -83px 0 0;
  }

  @include breakpoint($iphone4-landscape) {
    margin: -127px 0 0;
  }

  @include breakpoint($ipad-portrait) {
    margin: -54px 0 0;
  }

  @include breakpoint($ipad-landscape) {
    margin: -60px 0 0;
  }
}

.ethos-businness {
  margin: -110px 0 0 175px;

  @include breakpoint($iphone-landscape) {
    text-align: left;
    margin: -103px 0 44px 314px;
  }

  @include breakpoint($iphone4-landscape) {
    margin: -103px 0 44px 261px;
  }

  @include breakpoint($ipad-portrait) {
    margin: -66px 0 0 421px;
  }

  @include breakpoint($ipad-landscape) {
    margin: -57px 0 78px 541px;
  }
}

.create-believe-work {
  background: #535353;
  width: 100%;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  @include breakpoint($ipad-portrait) {
    img {
      margin: 0 auto 30px;
    }
  }

}

.we-section {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  font-size: 14pt;


  h4,
  p {
    color: #fff;
    font-weight: 200;
  }

  h4 span {
    color: $light-blue;
  }

  @include breakpoint($ipad-portrait) {
    text-align: left;

    h4 {
      margin-bottom: 30px;
    }

    h4,
    span {
      font-size: 17pt;
    }

    p {
      font-size: 16pt;
      margin-bottom: 100px;
    }
  }
}
