body {
  height: 100%;
  width: 100%;
}

.codelitt-big {
  margin: -20px 0 0;
  padding: 0;
  width: 100%;
  height: 300px;

  background: $codelitt-dark;

  @include breakpoint($sm) {
    height: 80%;
    width: auto;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.we-build {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
  top: -58%;
  left: 30%;
  width: 15%;
  font-size: 5vw;
  font-weight: lighter;

  @include breakpoint($sm) {
    position: absolute;
    top: 45%;
  }

}

.cubes-big {
  background: $codelitt-light;
  height: 100%;
  width: 100%;
}

.cubes {
  position: relative;
  top: -50px;
  height: 100%;
  width: 80%;
  margin: 0 0 0 45px;

  img {
    width: 100%;
  }
}

.we-work {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  width: 90%;
  margin: -150px auto 100px auto;
  font-size: 14pt;
  span {
    color: $light-blue;
  }
}

.cube {
  position: relative;
  top: -50px;
  z-index: 1;

  img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
}


.we-are-innovation {
  margin: -100px auto;
  width: 158px;
  position: relative;
  top: -180px;

  .we-are,
  .innovation {
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }
}

.we-are {
  color: $light-blue;
}

.innovation {
  color: #fff;
}

.learn {
  color: #626365;
  font-weight: 900;
  font-size: 9pt;
  text-align: center;
}

.ethos {
  background: #fff;

  h1 {
    font-size: 20pt;
    text-align: center;
  }
}

.ethos-image {

  img {
    display: block;
    margin: 0 auto;
    width: 15%;
  }
}

.ethos-innovation {
  position: relative;
  top: -565px;
  width: 40%;

  h2 {
    font-size: 18pt;
    color: $light-blue;
    font-weight: 200;
  }
  p {
    color: #626365;
    width: 100%;
  }
}

.ethos-disruption {
  position: relative;
  top: -565px;

  h2 {
    font-size: 18pt;
    color: $light-blue;
    font-weight: 200;
  }
  p {
    color: #626365;
    width: 40%;
  }
}