body {
  height: 100%;
  width: 100%;
}

.codelitt-big {
  margin: -20px 0 0;
  padding: 0;
  width: 100%;
  height: 300px;

  background: $codelitt-dark;

  @include breakpoint($sm) {
    height: 80%;
    width: auto;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.we-build {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
  top: -58%;
  left: 30%;
  width: 15%;
  font-size: 5vw;
  font-weight: lighter;

  @include breakpoint($sm) {
    position: absolute;
    top: 45%;
  }

}

.cubes-big {
  background: $codelitt-light;
  height: 100%;
  width: 100%;
}

.cubes {
  position: relative;
  top: -48px;
  left: 80px;
  height: 100%;
  width: 100%;

  img {
    width: 60%;
  }
}

.we-work {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  position: relative;
  top: -10%;
  width: 90%;
  margin: 0 auto;
  span {
    color: $light-blue;
  }
}

.cube {
  position: relative;
  top: -50px;
  z-index: 1;

  img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
}


.we-are-innovation {
  margin: 0 auto;
  width: 158px;
  position: relative;
  top: -300px;

  .we-are,
  .innovation {
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }
}

.we-are {
  color: $light-blue;
}

.innovation {
  color: #fff;
}