.always-core {
  margin: -65px 0 -40px;
  padding: 0;
  width: 100%;
  height: 300px;

  background: $codelitt-light;

  h1 {
    color: #9e9e9e;
    font-size: 9pt;
    margin: -222px auto 0;
    text-align: center;
    width: 45%;
  }

  .always-core-list {
    margin: 94px auto 0;
    width: 92%;
  }

  p {
    color: #fff;
    display: inline-block;
    font-size: 5pt;
  }

  span {
    display: inline-block;
    border: 2px solid $light-blue;
    border-radius: 100px;
  }

  @include breakpoint($iphone-landscape) {
    height: 267px;
  }

  @include breakpoint($ipad-portrait) {
    height: 500px;
  }
  img {
    height: 100%;
    width: 100%;
  }

  @include breakpoint($ipad-landscape) {
    height: 600px;
  }

  @include breakpoint($desktops) {
    height: 600px;
  }
}

.identifying-container {
  background: #fff;

  h1 {
    font-size: 12pt;
    text-align: center;
    color: #626365;
  }

  @include breakpoint($ipad-portrait) {
    h1 {
      font-size: 30pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }

  @include breakpoint($ipad-landscape) {
    h1 {
      font-size: 30pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }

  @include breakpoint($desktops) {
    h1 {
      font-size: 35pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }
}

.identifying-container-img{

  img {
    display: block;
    height: 30px;
    margin: 15px auto;
  }

  @include breakpoint($iphone-landscape) {
    margin: 0 auto 600px;
    img {
      height: 600px;
    }
  }

  @include breakpoint($ipad-portrait) {
    margin: 0 auto 400px;
    img {
      height: 820px;
    }
  }

  @include breakpoint($ipad-landscape) {
    img {
      height: 820px;
    }
  }

  @include breakpoint($desktops) {
    img {
      height: 900px;
    }
  }
}

.identifying-container-list {
  margin: 0 auto 20px 35px;
  width: 88%;
  display: block;

  p {
    color: $light-blue;
    display: inline-block;
    font-size: 5pt;
    width: 23%%;
  }
}

.right-from {
  background: $light-grey;

  h1 {
    font-size: 12pt;
    text-align: center;
    color: #626365;
  }

  @include breakpoint($ipad-portrait) {
    h1 {
      font-size: 30pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }

  @include breakpoint($ipad-landscape) {
    h1 {
      font-size: 30pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }

  @include breakpoint($desktops) {
    h1 {
      font-size: 35pt;
      font-weight: 300;
      margin: 80px auto;
    }
  }
}

.right-from-img {
  background: $light-grey;
  img {
    display: block;
    width: 100%;
  }
}

.right-from-row {

  h3 {
    color: $light-blue;
    font-weight: 400;
  }

  h4 {
    color: #000;
    font-size: 10pt;
  }

  p {
    color: #9e9e9e;
  }

  @include breakpoint($ipad-portrait) {
    text-align: left;

    h4 {
      margin-bottom: 30px;
    }

    h4,
    span {
      font-size: 17pt;
    }

    p {
      font-size: 16pt;
      margin-bottom: 100px;
    }
  }

  @include breakpoint($ipad-landscape) {
    text-align: left;

    h4 {
      margin-bottom: 70px;
    }

    h4,
    span {
      font-size: 20pt;
    }

    p {
      font-size: 18pt;
      margin-bottom: 100px;
    }
  }

  @include breakpoint($desktops) {
    text-align: left;
    max-width: 320px;
    margin: 0 8% 0 0%;

    h4 {
      margin-bottom: 70px;
    }

    h4,
    span {
      font-size: 22pt;
    }

    p {
      font-size: 20pt;
      margin-bottom: 100px;
    }
  }
}

.collab-creation {
  background: #fff;
}

.collab-creation-img {
  img {
    background: $light-blue;
    width: 100%;
  }
}

.collab-creating-handle {
  img {
    display: block;
    padding: 0;
    margin: -2px auto;
    width: 1%;
  }
}

.through-every-img {
  img {
    padding: 20px 0;
  }
}

.through-every-handle {
  background: $light-grey;
}