.always-core {
  margin: -65px 0 -40px;
  padding: 0;
  width: 100%;
  height: 300px;

  background: $codelitt-light;

  h1 {
    color: #9e9e9e;
    font-size: 9pt;
    margin: -222px auto 0;
    text-align: center;
    width: 45%;
  }

  .always-core-list {
    margin: 94px auto 0;
    width: 92%;
  }

  p {
    color: #fff;
    display: inline-block;
    font-size: 5pt;
  }

  span {
    display: inline-block;
    border: 2px solid $light-blue;
    border-radius: 100px;
  }

  @include breakpoint($iphone-landscape) {
    height: 267px;
  }

  @include breakpoint($ipad-portrait) {
    height: 500px;
  }
  img {
    height: 100%;
    width: 100%;
  }

  @include breakpoint($ipad-landscape) {
    height: 600px;
  }

  @include breakpoint($desktops) {
    height: 600px;
  }
}