 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 3787px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 3637px; 
	 position: absolute; 
	 width: 1000px;
	 height: 150px;
	 z-index:1;
} 

 #Arrow 
{ 
	 left: 878px; 
	 top: 3710px; 
	 position: absolute; 
	 width: 15px;
	 height: 8px;
	 z-index:2;
} 

 #BACKTOTOP 
{ 
	 left: 903px; 
	 top: 3709px; 
	 position: absolute; 
	 width: 95px;
	 height: 9px;
	 z-index:3;
} 

 #Arrow_0 
{ 
	 left: 878px; 
	 top: 3710px; 
	 position: absolute; 
	 width: 15px;
	 height: 8px;
	 z-index:4;
} 

 #BACKTOTOP_0 
{ 
	 left: 903px; 
	 top: 3709px; 
	 position: absolute; 
	 width: 95px;
	 height: 9px;
	 z-index:5;
} 

 #Codelittlogo 
{ 
	 left: 468px; 
	 top: 3687px; 
	 position: absolute; 
	 width: 63px;
	 height: 50px;
	 z-index:6;
} 

 #hellocodelittcom 
{ 
	 left: 172px; 
	 top: 3711px; 
	 position: absolute; 
	 width: 109px;
	 height: 9px;
	 z-index:7;
} 

 #2014CodelittIncubato 
{ 
	 left: 0px; 
	 top: 3710px; 
	 position: absolute; 
	 width: 145px;
	 height: 9px;
	 z-index:8;
} 

 #Backgorund 
{ 
	 left: 0px; 
	 top: 2794px; 
	 position: absolute; 
	 width: 1000px;
	 height: 843px;
	 z-index:9;
} 

 #WeworkWITHSMARTPEOPL 
{ 
	 left: 682px; 
	 top: 2946px; 
	 position: absolute; 
	 width: 255px;
	 height: 541px;
	 z-index:10;
} 

 #WebelieveINSIMPLICIT 
{ 
	 left: 366px; 
	 top: 2945px; 
	 position: absolute; 
	 width: 253px;
	 height: 509px;
	 z-index:11;
} 

 #WecreateTECHNOLOGYEM 
{ 
	 left: 50px; 
	 top: 2946px; 
	 position: absolute; 
	 width: 260px;
	 height: 543px;
	 z-index:12;
} 

 #Background_0 
{ 
	 left: 0px; 
	 top: 1427px; 
	 position: absolute; 
	 width: 1000px;
	 height: 1367px;
	 z-index:13;
} 

 #Icons 
{ 
	 left: 463px; 
	 top: 1698px; 
	 position: absolute; 
	 width: 73px;
	 height: 742px;
	 z-index:14;
} 

 #BUSINESSACUMENLoremi 
{ 
	 left: 582px; 
	 top: 2389px; 
	 position: absolute; 
	 width: 346px;
	 height: 263px;
	 z-index:15;
} 

 #STARTUPSPEEDANDAGILI 
{ 
	 left: 57px; 
	 top: 2149px; 
	 position: absolute; 
	 width: 360px;
	 height: 334px;
	 z-index:16;
} 

 #DISRUPTIONWehaveneve 
{ 
	 left: 582px; 
	 top: 1953px; 
	 position: absolute; 
	 width: 361px;
	 height: 263px;
	 z-index:17;
} 

 #INNOVATIONIt39satthe 
{ 
	 left: 65px; 
	 top: 1728px; 
	 position: absolute; 
	 width: 351px;
	 height: 228px;
	 z-index:18;
} 

 #Itsinourethostocombi 
{ 
	 left: 266px; 
	 top: 1578px; 
	 position: absolute; 
	 width: 469px;
	 height: 27px;
	 z-index:19;
} 

 #Background_1 
{ 
	 left: 0px; 
	 top: 672px; 
	 position: absolute; 
	 width: 1000px;
	 height: 755px;
	 z-index:20;
} 

 #Arrow_1 
{ 
	 left: 579px; 
	 top: 1257px; 
	 position: absolute; 
	 width: 7px;
	 height: 11px;
	 z-index:21;
} 

 #LEARNHOWWEDOIT 
{ 
	 left: 417px; 
	 top: 1258px; 
	 position: absolute; 
	 width: 155px;
	 height: 9px;
	 z-index:22;
} 

 #Layer2 
{ 
	 left: 579px; 
	 top: 1257px; 
	 position: absolute; 
	 width: 7px;
	 height: 11px;
	 z-index:23;
} 

 #LEARNHOWWEDOIT_0 
{ 
	 left: 417px; 
	 top: 1258px; 
	 position: absolute; 
	 width: 155px;
	 height: 9px;
	 z-index:24;
} 

 #WeareastartupandINNO 
{ 
	 left: 388px; 
	 top: 1068px; 
	 position: absolute; 
	 width: 225px;
	 height: 163px;
	 z-index:25;
} 

 #Weworkwithmanydiffer 
{ 
	 left: 66px; 
	 top: 823px; 
	 position: absolute; 
	 width: 867px;
	 height: 117px;
	 z-index:26;
} 

 #Background_2 
{ 
	 left: 0px; 
	 top: 100px; 
	 position: absolute; 
	 width: 1000px;
	 height: 574px;
	 z-index:27;
} 

 #Webuildstartups 
{ 
	 left: 311px; 
	 top: 289px; 
	 position: absolute; 
	 width: 214px;
	 height: 196px;
	 z-index:28;
} 

 #Background_3 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1000px;
	 height: 100px;
	 z-index:29;
} 

 #Twitter 
{ 
	 left: 976px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:30;
} 

 #Twitter_0 
{ 
	 left: 976px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:31;
} 

 #Facebook 
{ 
	 left: 935px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:32;
} 

 #Facebook_0 
{ 
	 left: 935px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:33;
} 

 #CONTACT 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:34;
} 

 #CONTACT_0 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:35;
} 

 #Underline 
{ 
	 left: 840px; 
	 top: 67px; 
	 position: absolute; 
	 width: 65px;
	 height: 2px;
	 z-index:36;
} 

 #CONTACT_1 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:37;
} 

 #TECHNOLOGIES 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:38;
} 

 #TECHNOLOGIES_0 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:39;
} 

 #Underline_0 
{ 
	 left: 703px; 
	 top: 67px; 
	 position: absolute; 
	 width: 110px;
	 height: 2px;
	 z-index:40;
} 

 #TECHNOLOGIES_1 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:41;
} 

 #SERVICES 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:42;
} 

 #SERVICES_0 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:43;
} 

 #Underline_1 
{ 
	 left: 610px; 
	 top: 67px; 
	 position: absolute; 
	 width: 69px;
	 height: 2px;
	 z-index:44;
} 

 #SERVICES_1 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:45;
} 

 #CodelittLogo 
{ 
	 left: 0px; 
	 top: 22px; 
	 position: absolute; 
	 width: 72px;
	 height: 56px;
	 z-index:46;
} 
