 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 4220px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 4070px; 
	 position: absolute; 
	 width: 1000px;
	 height: 150px;
	 z-index:1;
} 

 #Arrow 
{ 
	 left: 878px; 
	 top: 4143px; 
	 position: absolute; 
	 width: 15px;
	 height: 8px;
	 z-index:2;
} 

 #BACKTOTOP 
{ 
	 left: 903px; 
	 top: 4142px; 
	 position: absolute; 
	 width: 95px;
	 height: 9px;
	 z-index:3;
} 

 #Arrow_0 
{ 
	 left: 878px; 
	 top: 4143px; 
	 position: absolute; 
	 width: 15px;
	 height: 8px;
	 z-index:4;
} 

 #BACKTOTOP_0 
{ 
	 left: 903px; 
	 top: 4142px; 
	 position: absolute; 
	 width: 95px;
	 height: 9px;
	 z-index:5;
} 

 #Codelittlogo 
{ 
	 left: 468px; 
	 top: 4120px; 
	 position: absolute; 
	 width: 63px;
	 height: 50px;
	 z-index:6;
} 

 #hellocodelittcom 
{ 
	 left: 172px; 
	 top: 4144px; 
	 position: absolute; 
	 width: 109px;
	 height: 9px;
	 z-index:7;
} 

 #2014CodelittIncubato 
{ 
	 left: 0px; 
	 top: 4143px; 
	 position: absolute; 
	 width: 145px;
	 height: 9px;
	 z-index:8;
} 

 #Background_0 
{ 
	 left: 0px; 
	 top: 3419px; 
	 position: absolute; 
	 width: 1000px;
	 height: 651px;
	 z-index:9;
} 

 #Througheverystage 
{ 
	 left: 318px; 
	 top: 3553px; 
	 position: absolute; 
	 width: 360px;
	 height: 34px;
	 z-index:10;
} 

 #ConsultingservicesGE 
{ 
	 left: 60px; 
	 top: 3652px; 
	 position: absolute; 
	 width: 881px;
	 height: 267px;
	 z-index:11;
} 

 #StagesIllustration 
{ 
	 left: 0px; 
	 top: 3219px; 
	 position: absolute; 
	 width: 1000px;
	 height: 200px;
	 z-index:12;
} 

 #Background_1 
{ 
	 left: 0px; 
	 top: 2328px; 
	 position: absolute; 
	 width: 1000px;
	 height: 891px;
	 z-index:13;
} 

 #Developmentimplement 
{ 
	 left: 530px; 
	 top: 2557px; 
	 position: absolute; 
	 width: 411px;
	 height: 508px;
	 z-index:14;
} 

 #Prototypingconceptre 
{ 
	 left: 53px; 
	 top: 2557px; 
	 position: absolute; 
	 width: 417px;
	 height: 403px;
	 z-index:15;
} 

 #Collaborativecreatio 
{ 
	 left: 310px; 
	 top: 2466px; 
	 position: absolute; 
	 width: 379px;
	 height: 27px;
	 z-index:16;
} 

 #CreationIllustration 
{ 
	 left: 0px; 
	 top: 2128px; 
	 position: absolute; 
	 width: 1000px;
	 height: 200px;
	 z-index:17;
} 

 #Background_2 
{ 
	 left: 0px; 
	 top: 1414px; 
	 position: absolute; 
	 width: 1000px;
	 height: 715px;
	 z-index:18;
} 

 #Ideationconceptualis 
{ 
	 left: 529px; 
	 top: 1643px; 
	 position: absolute; 
	 width: 396px;
	 height: 301px;
	 z-index:19;
} 

 #EarlyinsightsEMERGIN 
{ 
	 left: 52px; 
	 top: 1644px; 
	 position: absolute; 
	 width: 419px;
	 height: 334px;
	 z-index:20;
} 

 #Rightfromthegetgo 
{ 
	 left: 317px; 
	 top: 1553px; 
	 position: absolute; 
	 width: 367px;
	 height: 34px;
	 z-index:21;
} 

 #Background_3 
{ 
	 left: 0px; 
	 top: 847px; 
	 position: absolute; 
	 width: 1000px;
	 height: 567px;
	 z-index:22;
} 

 #DESIGN 
{ 
	 left: 780px; 
	 top: 1218px; 
	 position: absolute; 
	 width: 79px;
	 height: 16px;
	 z-index:23;
} 

 #TECHNOLOGYDEVELOPMEN 
{ 
	 left: 526px; 
	 top: 1217px; 
	 position: absolute; 
	 width: 158px;
	 height: 43px;
	 z-index:24;
} 

 #MARKETING 
{ 
	 left: 333px; 
	 top: 1218px; 
	 position: absolute; 
	 width: 124px;
	 height: 16px;
	 z-index:25;
} 

 #STRATEGYRESEARCH 
{ 
	 left: 113px; 
	 top: 1218px; 
	 position: absolute; 
	 width: 134px;
	 height: 43px;
	 z-index:26;
} 

 #Identifyingtherights 
{ 
	 left: 185px; 
	 top: 994px; 
	 position: absolute; 
	 width: 629px;
	 height: 34px;
	 z-index:27;
} 

 #Background_4 
{ 
	 left: 0px; 
	 top: 100px; 
	 position: absolute; 
	 width: 1000px;
	 height: 747px;
	 z-index:28;
} 

 #INNOVATIONDISRUPTION 
{ 
	 left: 68px; 
	 top: 650px; 
	 position: absolute; 
	 width: 864px;
	 height: 16px;
	 z-index:29;
} 

 #IconsServices 
{ 
	 left: 277px; 
	 top: 427px; 
	 position: absolute; 
	 width: 444px;
	 height: 88px;
	 z-index:30;
} 

 #Alwaysatthecoreofour 
{ 
	 left: 300px; 
	 top: 249px; 
	 position: absolute; 
	 width: 401px;
	 height: 75px;
	 z-index:31;
} 

 #Background_5 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1000px;
	 height: 100px;
	 z-index:32;
} 

 #Twitter 
{ 
	 left: 976px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:33;
} 

 #Twitter_0 
{ 
	 left: 976px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:34;
} 

 #Facebook 
{ 
	 left: 935px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:35;
} 

 #Facebook_0 
{ 
	 left: 935px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:36;
} 

 #CONTACT 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:37;
} 

 #CONTACT_0 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:38;
} 

 #Underline 
{ 
	 left: 840px; 
	 top: 67px; 
	 position: absolute; 
	 width: 65px;
	 height: 2px;
	 z-index:39;
} 

 #CONTACT_1 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:40;
} 

 #TECHNOLOGIES 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:41;
} 

 #TECHNOLOGIES_0 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:42;
} 

 #Underline_0 
{ 
	 left: 703px; 
	 top: 67px; 
	 position: absolute; 
	 width: 110px;
	 height: 2px;
	 z-index:43;
} 

 #TECHNOLOGIES_1 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:44;
} 

 #Underline_1 
{ 
	 left: 610px; 
	 top: 67px; 
	 position: absolute; 
	 width: 69px;
	 height: 2px;
	 z-index:45;
} 

 #SERVICES 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:46;
} 

 #CodelittLogo 
{ 
	 left: 0px; 
	 top: 22px; 
	 position: absolute; 
	 width: 72px;
	 height: 56px;
	 z-index:47;
} 
