<h3>User info:</h3>
<ul>
  <li>Name: <%= @params["name"] %> </li>
  <li>Occupation: <%= @params["occupation"] %> </li>
  <li>Phone: <%= @params["phone"] %> </li>
</ul>

<h3>Message:</h3>
<%= @params["message"] %>