.container.codelitt-big
  = image_tag("index/Homepage-1-Codelitt_graphic.svg", :alt => "homepage")
  %h1.we-build
    We build startups.
.container.cubes-big
  .cubes
    = image_tag("index/Homepage-2-Cubes.svg", :alt => "cubes")
  %h3.we-work
    We work with many different sizes of companies and corporations, marrying
    the best of corporate resources and expertise with the best of startup
    innovation and speed.
    %span We are not an agency.
  .cube
    = image_tag("index/Homepage-3-Cube_Incubator.svg", :alt => "cubes")
  .we-are-innovation
    %h3.we-are
      We are
      %br
      a startup and
    %h2.innovation
      INNOVATION
      %br
      INCUBATOR

