.container.always-core
  = image_tag("services/Services-1-Graphic.svg", :alt => "services-1")
  %h1
    Always at the core
    %br
    of our creation process
  .always-core-list
    %p
      INNOVATION
    %span
    %p
      DISRUPTION
    %span
    %p
      STARTUP SPEED AND AGILITY
    %span
    %p
      BUSINESS ACUMEN

.container.identifying-container
  %h1
    Identifying the right solution through
  .identifying-container-img
    = image_tag("services/Services-2-Solutions.svg", :alt => "services-2")
  .identifying-container-list
    %p
      STRATEGY & RESEARCH
    %p
      MARKETING
    %p
      TECHNOLOGY DEVELOPMENT
    %p
      DESIGN

.container.right-from
  .right-from-img
    = image_tag("services/Services-3-Graphic_get-go.svg", :alt => "services-3")
  %h1
    Right from the get-go
  .row.right-from-row
    .col-xs-12.col-sm-6.right-from-insights
      %h3
        Early insights
      %h4
        EMERGING TECHNOLOGY, USER NEEDS,
        %br
        & MARKET DIRECTION
      %p
        We believe, breath, and drink tech. We'll help you determine what your
        users expect from your product or application. We work with our cilents
        to keep them two steps ahead. Technology moves fast, but we move faster.
    .col-xs-12.col-sm-6.right-from-ideation
      %h3
        Ideation & conceptualisation
      %h4
        EARLY STAGE IN PRODUCT
        %br
        DEVELOPMENT
      %p
        These are the far out ideas, the blue sky scenarios, and the
        visualisation of what is possible. We help our clients step out of
        their comfort zones and then identify the winning concepts.