.container.always-core
  = image_tag("services/Services-1-Graphic.svg", :alt => "services-1")
  %h1
    Always at the core
    %br
    of our creation process
  .always-core-list
    %p
      INNOVATION
    %span
    %p
      DISRUPTION
    %span
    %p
      STARTUP SPEED AND AGILITY
    %span
    %p
      BUSINESS ACUMEN
