.container.technologies
  = image_tag("technologies/Technologies-1-Graphic.svg", :alt => "technologies-1")
  %h1
    The right implementation
  %h2
    A successful product requires lorem ipsum dolor sit amet in tenebris.
