.container.technologies
  = image_tag("technologies/Technologies-1-Graphic.svg", :alt => "technologies-1")
  %h1
    The right implementation
  %h2
    A successful product requires lorem ipsum dolor sit amet in tenebris.

.container.we-got-you
  = image_tag("technologies/Technologies-2-Platforms.svg", :alt => "technologies-2")

  %h1
    We've got you covered

  .row
    .col-xs-12.col-sm-4.col-lg-4.col-lg-offset-2
      %h3
        Web
      %h4
        RUBY, PYTHON, PHP,
        GOLANG, NODE.JS,
        JAVASCRIPT, HTML5
      %p
        These are a few of our favorite technologies to work with for the
        web platfroms. We build web applications and technology that are
        easy to scale and delight the end user.

    .col-xs-12.col-sm-4.col-lg-4.col-lg-offset-1
      %h3
        Mobile
      %h4
        OBJECTIVE-C, JAVA, C#
      %p
        We work across all three af the major mobile platforms and can add
        support for the newcomers such as firefox OS and ubuntu mobile.

    .col-xs-12.col-sm-4.col-lg-4.col-lg-offset-1
      %h3
        OS and apps
      %h4
        C, C++, PYTHON,
        QT5, COCOA
      %p
        We build custom operating systems for physical products,
        entertainment systems, prototypes and many other applications.