.container.footer
  .row
    .footer-info
      %p
        &#169; Codelitt Incubator
      %p
        hello@codelitt.com
    .col-xs-12.footer-logo
      = image_tag("footer/Logo-Footer.svg", :alt => "footer-logo")

    %h3.footer-back
      = image_tag("footer/Arrow-To_top-Normal.svg", :alt => "footer-logo")
      %span
        BACK TO TOP