 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1000px;
	 height: 1740px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 1590px; 
	 position: absolute; 
	 width: 1000px;
	 height: 150px;
	 z-index:1;
} 

 #Arrow 
{ 
	 left: 878px; 
	 top: 1663px; 
	 position: absolute; 
	 width: 15px;
	 height: 8px;
	 z-index:2;
} 

 #BACKTOTOP 
{ 
	 left: 903px; 
	 top: 1662px; 
	 position: absolute; 
	 width: 95px;
	 height: 9px;
	 z-index:3;
} 

 #Arrow_0 
{ 
	 left: 878px; 
	 top: 1663px; 
	 position: absolute; 
	 width: 15px;
	 height: 8px;
	 z-index:4;
} 

 #BACKTOTOP_0 
{ 
	 left: 903px; 
	 top: 1662px; 
	 position: absolute; 
	 width: 95px;
	 height: 9px;
	 z-index:5;
} 

 #Codelittlogo 
{ 
	 left: 468px; 
	 top: 1640px; 
	 position: absolute; 
	 width: 63px;
	 height: 50px;
	 z-index:6;
} 

 #hellocodelittcom 
{ 
	 left: 172px; 
	 top: 1664px; 
	 position: absolute; 
	 width: 109px;
	 height: 9px;
	 z-index:7;
} 

 #2014CodelittIncubato 
{ 
	 left: 0px; 
	 top: 1663px; 
	 position: absolute; 
	 width: 145px;
	 height: 9px;
	 z-index:8;
} 

 #Background_0 
{ 
	 left: 0px; 
	 top: 674px; 
	 position: absolute; 
	 width: 1000px;
	 height: 916px;
	 z-index:9;
} 

 #OSandappsCCPYTHONQ 
{ 
	 left: 704px; 
	 top: 1004px; 
	 position: absolute; 
	 width: 242px;
	 height: 336px;
	 z-index:10;
} 

 #MobileOBJECTIVECJAVA 
{ 
	 left: 372px; 
	 top: 1004px; 
	 position: absolute; 
	 width: 257px;
	 height: 334px;
	 z-index:11;
} 

 #WebRUBYPYTHONPHPGOLA 
{ 
	 left: 50px; 
	 top: 1004px; 
	 position: absolute; 
	 width: 261px;
	 height: 435px;
	 z-index:12;
} 

 #Wevegotyoucovered 
{ 
	 left: 298px; 
	 top: 817px; 
	 position: absolute; 
	 width: 401px;
	 height: 34px;
	 z-index:13;
} 

 #Background_1 
{ 
	 left: 0px; 
	 top: 100px; 
	 position: absolute; 
	 width: 1000px;
	 height: 574px;
	 z-index:14;
} 

 #Therightimplementati 
{ 
	 left: 124px; 
	 top: 250px; 
	 position: absolute; 
	 width: 751px;
	 height: 80px;
	 z-index:15;
} 

 #Background_2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1000px;
	 height: 100px;
	 z-index:16;
} 

 #Twitter 
{ 
	 left: 976px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:17;
} 

 #Twitter_0 
{ 
	 left: 976px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:18;
} 

 #Facebook 
{ 
	 left: 935px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:19;
} 

 #Facebook_0 
{ 
	 left: 935px; 
	 top: 39px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:20;
} 

 #CONTACT 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:21;
} 

 #Underline 
{ 
	 left: 840px; 
	 top: 67px; 
	 position: absolute; 
	 width: 65px;
	 height: 2px;
	 z-index:22;
} 

 #CONTACT_0 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:23;
} 

 #Underline_0 
{ 
	 left: 840px; 
	 top: 67px; 
	 position: absolute; 
	 width: 65px;
	 height: 2px;
	 z-index:24;
} 

 #CONTACT_1 
{ 
	 left: 839px; 
	 top: 47px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:25;
} 

 #Underline_1 
{ 
	 left: 703px; 
	 top: 67px; 
	 position: absolute; 
	 width: 110px;
	 height: 2px;
	 z-index:26;
} 

 #TECHNOLOGIES 
{ 
	 left: 702px; 
	 top: 47px; 
	 position: absolute; 
	 width: 111px;
	 height: 9px;
	 z-index:27;
} 

 #SERVICES 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:28;
} 

 #Underline_2 
{ 
	 left: 610px; 
	 top: 67px; 
	 position: absolute; 
	 width: 69px;
	 height: 2px;
	 z-index:29;
} 

 #SERVICES_0 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:30;
} 

 #Underline_3 
{ 
	 left: 610px; 
	 top: 67px; 
	 position: absolute; 
	 width: 69px;
	 height: 2px;
	 z-index:31;
} 

 #SERVICES_1 
{ 
	 left: 609px; 
	 top: 47px; 
	 position: absolute; 
	 width: 69px;
	 height: 9px;
	 z-index:32;
} 

 #CodelittLogo 
{ 
	 left: 0px; 
	 top: 22px; 
	 position: absolute; 
	 width: 72px;
	 height: 56px;
	 z-index:33;
} 
